* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --bg-fundo: url('img/bg-desktop-light.jpg');
    --bg-resposivo: url('img/bg-mobile-light.jpg');
    --img-btn: url('img/moon.png');
    --github: url('img/github-dark.png');
    --inst: url('img/inst-dark.png');
    --youtube: url('img/yt-dark.png');
    --linkedin: url('img/lkd-dark.png');
    --corBorda: #EAB2EA;
}

.darkMode {
    --bg-fundo: url('img/bg-desktop.jpg');
    --bg-resposivo: url('img/bg-mobile.jpg');
    --img-btn: url('img/sun.png');
    --github: url('img/github-light.png');
    --inst: url('img/int-light.png');
    --youtube: url('img/yt-light.png');
    --linkedin: url('img/lkd-light.png');
    --corBorda: #ffffff13;
    color: #fff;
}

.darkMode ul > li {
    border: 1px solid #ffffffa6;
    background-color: #ffffff13;
}

.darkMode ul > li:hover {
    background-color: #410a3e;
}

.darkMode .formater:hover {
    background-color: #410a3e;
    outline: 1px solid #ffffffa6;
}

.darkMode .youtube {
    margin-top: 10px;
    padding: 0;
    height: 24px;
    width: 28px;
}

body {
    background: var(--bg-fundo);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#perfil {
    background-image: url(img/imagem-kesley.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 15px;
    border: 2px solid #000;
}

header > p {
    margin-bottom: 15px;
}

#troca {
    width: 64px;
    margin: 4px auto;
    position: relative;
}

#btnFundo {
    width: 64px;
    height: 24px;
    background: var(--corBorda);
    border: 1px solid #ffffffa6;
    border-radius: 50px;
}

#btn {
    height: 32px;
    width: 32px;
    background: #fff var(--img-btn) no-repeat center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
    animation: slide-back 0.4s;
}

.darkMode #btn {
    animation: slide-in 0.4s forwards;
}

#btn:hover {
    outline: 8px solid #ffffff13;
}

ul > li {
    max-width: 500px;
    margin: 0 auto 15px;
    border: 2px solid #eb99eb;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

ul li:hover {
    background-color: #EAB2EA;
    transition: 1s;
}

#social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.formater {
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.formater:hover {
    background-color: #eab2ea5e;
    outline: 1px solid #eb99eb;
    transition: 0.5s;
}

.iconeSocial {
    display: inline-block;
    height: 16px;
    width: 16px;
    padding: 15px;
    margin-right: 5px;
    margin-left: 5px;
}

.github {
    background: var(--github);
    background-repeat: no-repeat;
    background-size: cover;
}

.instagram {
    background: var(--inst);
    background-repeat: no-repeat;
    background-size: cover;
}

.youtube {
    background: var(--youtube);
    background-repeat: no-repeat;
    background-size: cover;
}

.linkedin {
    background: var(--linkedin);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    margin-top: 100px;
}

@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-back {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}

@media (max-width: 600px) {
    body {
        background: var(--bg-resposivo);
    }

    .darkMode body {
        background: var(--bg-resposivo);
        background-repeat: no-repeat;
        background-size: cover;
    }
}